.background {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: 100px auto 50px 100px 100px 150px;
  grid-template-areas:
    "sidebar-left     countdown     sidebar-right"
    "sidebar-left     logo          sidebar-right"
    "sidebar-left     title         sidebar-right"
    "sidebar-left     description   sidebar-right"
    "sidebar-left     subscribe     sidebar-right"
    "sidebar-left     social        sidebar-right";
  justify-items: center;
  color: white;
}

@media(max-width: 500px) {
  .background {
    grid-template-columns: 1fr;
    grid-template-areas:
      "countdown"
      "logo"
      "title"
      "description"
      "subscribe"
      "social"
  }
}













