.countdown {
  grid-area: countdown;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(4, 55px);
  grid-gap: 30px;
  border-bottom: 5px solid var(--primary-color);
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.countdown-segment {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.countdown-segment-number {
  justify-content: center;
  padding: 10px 10px;
  font-size: 30px;
  font-weight: 700;
  transition: all 0.2s ease-in;
}

.countdown-segment-number:hover {
  transform: scale(1.08);
}

.countdown-segment-caption {
  font-size: 14px;
  font-weight: 500;
}

@media (max-width: 700px) {
  .countdown {
    grid-gap: 20px;
  }
}
