.description {
    overflow: hidden;
    grid-area: description;
    display: grid;
    font-size: 16px;
    grid-template-columns: 1;
    width: 100%;
    align-self: end;
    align-content: center;
  }

  .description-text {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    font-size: 16px;
    width: 100%;
  }