.toast {
    border-radius: 4px;
    display: grid;
    grid-gap: 10px;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    grid-template-columns: 1fr 5fr;
    transition: all .35s ease;
    transform: translateY(100%);
}

.toast.visible {
    transform: translateY(0);
}

.toast.success {
    background-color: var(--highlight-color);
}

.toast.warning {
    background-color: #f38211;
}

.toast.danger {
    background-color: #c0392b;
}

.toast img {
    justify-self: center;
    align-self: center;
    width: 40px;
}

.toast p {
    color: black;
    align-self: center;
    padding-right: 10px;
}
