.toast {
    border-radius: 4px;
    display: grid;
    justify-self: center;
    overflow: hidden;
    grid-template-columns: 1;
    grid-template-rows: 1;
    justify-items: center;
    align-items: center;
    max-height: 80px;
    max-width: 300px;
    position: fixed;
    transition: all .35s ease;
    transform: translateY(-200%);
}

.toast.visible {
    transform: translateY(400%);
}

.toast.success {
    background-color: var(--highlight-color);
}

.toast.warning {
    background-color: #f38211;
}
.toast figure {
    display: grid;
    grid-gap: 10px;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-template-columns: 1fr 4fr;
}

.toast figure img {
    height: 100%;
    width: 100%;
}
