.background {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: 100px fit-content(200px) 50px 80px 100px 150px;
  grid-template-areas:
    "sidebar-left     countdown     sidebar-right"
    "sidebar-left     logo          sidebar-right"
    "sidebar-left     title         sidebar-right"
    "sidebar-left     description   sidebar-right"
    "sidebar-left     subscribe     sidebar-right"
    "sidebar-left     social        sidebar-right";
  justify-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.countdown {
  grid-area: countdown;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-gap: 20px;
}

.countdown-loading {
  transition: all 0.3s ease-out;
}

.countdown-segment {
  display: grid;
  grid-template-columns: minmax(50px, 1fr);
  justify-items: center;
  align-items: center;
  color: white;
  transition: all 0.3s ease-in;
}

.countdown-segment-number {
  border-radius: 4px;
  background-color: #000000;
  width: 100%;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 10px 10px;
  font-size: 30px;
  transition: all 0.2s ease-in-out;
}

.countdown-segment-number:hover {
  border-color: var(--highlight-color);
  transform: scale(1.08);
}

.countdown-segment-caption {
  font-size: 14px;
}

.description {
  grid-area: description;
  font-size: 16px;
}

.logo-container {
  grid-area: logo;
}

.logo {
  animation: logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.social-links {
  grid-area: social;
  align-self: end;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  justify-items: center;
  grid-gap: 20px;
}

.social-link {
  color: white;
  grid-column: minmax(50px, 1fr);
  display: grid;
  justify-items: center;
  text-decoration: none;
  transition: all 0.3s ease-in;
}

.social-link:hover {
  filter: brightness(85%);
  text-decoration: underline;
}

.social-logo {
  width: 40px;
}

.social-text {
  margin-top: 3px;
  font-size: 14px;
}

.subscribe {
  grid-area: subscribe;
  display: grid;
  grid-template-columns: [input] 3fr [button] 1fr;
  align-items: center;
}

.subscribe-button {
  grid-area: button;
  height: 40px;
  background-color: var(--highlight-color);
  border: 0;
  color: #000000;
  border-radius: 4px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.subscribe-button:hover {
  filter: brightness(85%);
}

.subscribe-button:focus {
  outline: none;
}

.subscribe-email {
  grid-area: input;
  border-radius: 4px;
  height: 40px;
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-color: #ffffff;
  padding-left: 10px;
  outline: none;
  font-size: 16px;
  transition: all 0.2s ease-in;
}

.subscribe-email::placeholder {
  color: #ffffff;
  font-size: 16px;
}

.subscribe-email:focus, :hover {
  border-color: var(--highlight-color);
}

.title {
  grid-area: title;
  align-self: end;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 700px) {
  .subscribe {
    grid-column: 2 / 3;
    grid-template-areas:
      "input"
      "button"
  }
  .subscribe-button, .subscribe-email {
    width: 250px;
    grid-column: 1 / -1;
    margin: 5px 0;
  }
}


