.countdown {
    grid-area: countdown;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    grid-gap: 20px;
  }

  .countdown-segment {
    display: grid;
    grid-template-columns: minmax(50px, 1fr);
    justify-items: center;
    align-items: center;
    color: white;
  }

  .countdown-segment-number {
    border-radius: 4px;
    background-color: #000000;
    width: 100%;
    color: #ffffff;
    border: 1px solid #ffffff;
    justify-content: center;
    padding: 10px 10px;
    font-size: 30px;
    transition: all 0.5s ease-in;
  }

  .countdown-segment-number:hover {
    border-color: var(--highlight-color);
    transform: scale(1.08);
  }

  .countdown-segment-caption {
    font-size: 14px;
  }